@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

html, body{
    width: 100%;
    height: 100%;
}

/* header styles */
.nav-bar{
    /* height: 131px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px;
}

.nav-bar h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.nav-bar button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    background-color: white;
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
}

.header{
    height: 652px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800; 
    margin: 32px 0px 24px 0px;
}

.header p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    opacity: 0.7;
}

.header button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    cursor: pointer;
}

/* web dev section styles */
.web-dev-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 74px;
}

.web-dev-content{
    width: 946px;
    height: 1233px;
}

.web-dev-part1{
    width: 852px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}

.web-dev-part1 h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.web-dev-part1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;
}

.web-dev-part2{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    background-color: white;
    display: flex;
    padding: 48px;
    border-radius: 16px;
}

.web-dev-part2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.web-dev-part2-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.web-dev-part2-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 0px 32px 0px;
}

.web-dev-part2-text button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    cursor: pointer;
}

.web-dev-part3{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    background-color: white;
    display: flex;
    padding: 48px;
    border-radius: 16px;
}

.web-dev-part3-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 32px;
}

.web-dev-part3-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.web-dev-part3-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 0px 32px 0px;
}

.web-dev-part3-text button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    cursor: pointer;
}

.web-dev-part4{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    background-color: white;
    display: flex;
    padding: 48px;
    border-radius: 16px;
}

.web-dev-part4-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.web-dev-part4-text h1{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}

.web-dev-part4-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 0px 32px 0px;
}

.web-dev-part4-text button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    cursor: pointer;
}

/* inspiration section styles */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.inspiration-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inspiration-content h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;

}
.inspiration-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding: 0px 144px;
    margin-top: 24px;
    text-align: center;
}

.iframe-container{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.iframe-content iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px; 
}

/* target section styles */
.target-container{
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.target-part1{
    width: 946px;
    height: 113px;
    text-align: center;
}

.target-part1 h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.target-part1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;
}

.target-part2{
    width: 1140px;
    height: 299px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.target-html{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    justify-content: center;
}

.target-html h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}

.target-html p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 24px 0px;
    opacity: 0.7;
}

.target-html a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-thickness: 2px;
}

.target-css{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    justify-content: center;
}

.target-css h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}

.target-css p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 24px 0px;
    opacity: 0.7;
}

.target-css a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-thickness: 2px;
}

.target-js{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    justify-content: center;
}

.target-js h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
}

.target-js p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 24px 0px;
    opacity: 0.7;
}

.target-js a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-thickness: 2px;
}

/* target next styles */
.target-next-container{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 111PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.target-next-part1{
    width: 946px;
    height: 113px;
    text-align: center;
}

.target-next-part1 h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

.target-next-part1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 24px;
}

.target-next-part2{
    width: 1140px;
    height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.react-container{
    width: 1140px;
    height: 219px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.react-text{
    margin-left: 24px;
}

.react-text h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.react-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 24px;
    opacity: 0.7;
}

.react-text a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-thickness: 2px;
}

.nodejs-container{
    width: 1140px;
    height: 219px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.nodejs-text{
    margin-left: 24px;
}

.nodejs-text h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.nodejs-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 24px;
    opacity: 0.7;
}

.nodejs-text a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-thickness: 2px;
}

.mongodb-container{
    width: 1140px;
    height: 219px;
    padding: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.mongodb-text{
    margin-left: 24px;
}

.mongodb-text h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
}

.mongodb-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 24px;
    opacity: 0.7;
}

.mongodb-text a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-thickness: 2px;
}

/* support section styles */
.support-container{
    border: 1px solid black;
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
        url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 49px;
}

.support-content{
    text-align: center;
}

.support-content h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
.support-content p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 0px 24px 0px;
}

.support-form form{
    display: flex;
}

.submit-form{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
}

.submit-button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 8px;
    padding: 17px 20px;
    margin-left: 16px;
    cursor: pointer;
}

/* footer styles */
#footer{
    height: 100px;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    margin-top: 79px;
}

#footer h5{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}